body{
  margin:0;
  display:flex ;
  justify-content: center;
  background-color: rgb(128, 87, 0);
  height: 100vh;
  align-items: center;
  text-align: center;
  font-family: cursive;
}
.form{
  background-color: white;
  padding:20px;
  box-shadow: 0 4px 8px rgpa (0,0,0,0,.3);
  border-radius: 10px;
  margin: 10px;
}
.input{
  display:block;
  width:100%;
  box-sizing: border-box;
  font-size: 30px;
  padding: 10px;
  border:solid 4px brown;
  color:rgb(235, 114, 9);
}
.input::placeholder{
  color:rgb(246, 195, 195);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn{
  background-color: brown;
  color:black;
  border:none;
  display:block;
  width:100%;
  padding:10px;
  font-size:20px;
  font-family: cursive;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  cursor:pointer;
  
}
.btn:hover{
  filter:brightness(0.9);
}
.score{
  color:red;
  text-align: right;
}